<header class="app-header">

  <div class="header-left">
    <button class="menu-btn" type="button" (click)="toggleMenu()">
      ☰
    </button>

    <div class="brand">
      <img src="assets/images/logo.png" alt="GP Systems">
    </div>

    <nav class="module-nav">
      <a
        *ngFor="let item of menu"
        [routerLink]="['/', item.key]"
        [class.active]="esActivo(item.key)">
        {{ item.label }}
      </a>
    </nav>
  </div>

  <div class="header-right">

    <div class="session-time">
      <span>⏳</span>
      <strong>{{ formatTime(remainingSeconds) }}</strong>
    </div>

    <div class="user-menu" (click)="toggleDropdown($event)">
      <div class="avatar">
        {{ user?.idEmpleado.nombres?.charAt(0)+ user?.idEmpleado.apellidoPaterno.charAt(0) || user?.usuario?.charAt(0) || 'U' }}
      </div>

      <span class="user-name">
        {{ user?.idEmpleado.nombres + ' ' + user?.idEmpleado.apellidoPaterno + ' ' + user?.idEmpleado.apellidoMaterno || user?.usuario || 'Usuario' }}
      </span>

      <span class="chevron">▾</span>

      <div class="dropdown" *ngIf="dropdownOpen">
        <button type="button" (click)="irPerfil($event)">
          Mi perfil
        </button>

        <button type="button" class="logout" (click)="logout($event)">
          Cerrar sesión
        </button>
      </div>
    </div>

  </div>

</header>