<nav class="topbar">

  <!-- LEFT -->
  <div class="topbar-left">

    <button class="menu-btn" (click)="toggleMenu()">
      ☰
    </button>

    <div class="logo">
      <img src="assets/images/logo.png" alt="GP Systems">
    </div>

  </div>

  <!-- CENTER -->
  <div class="topbar-center">

    <a 
      *ngFor="let modulo of menu"
      [routerLink]="'/' + modulo.key"
      routerLinkActive="active"
      class="top-link">

      {{ modulo.label }}

    </a>

  </div>

  <!-- RIGHT -->
<div class="topbar-right">

  <!-- TIEMPO -->
  <div class="session-timer" *ngIf="remainingSeconds > 0">
    ⏳ {{ formatTime(remainingSeconds) }}
  </div>

  <!-- USUARIO DROPDOWN -->
  <div class="user-dropdown" (click)="toggleDropdown($event)">

    <div class="user-name">
      {{ user?.idEmpleado?.nombres }}
      {{ user?.idEmpleado?.apellidoPaterno }}
      {{ user?.idEmpleado?.apellidoMaterno }}
      ▼
    </div>

    <!-- MENU -->
    <div class="dropdown-menu" *ngIf="dropdownOpen">

      <div class="dropdown-item" (click)="irPerfil($event)">
        👤 Perfil
      </div>

      <div class="dropdown-item logout" (click)="logout($event)">
        🚪 Cerrar sesión
      </div>

    </div>

  </div>

</div>

</nav>