/* ===== TOPBAR ===== */

.topbar{
  height:60px;
  width:100%;
  background:#144AA7;
  color:#e2e8f0;

  display:flex;
  align-items:center;
}

/* LEFT */

.topbar-left{
  width:17%;
  display:flex;
  align-items:center;
  gap:10px;
  padding-left:10px;
}

.logo img{
  height:40px;
}
.logo{
  background:#ffffff;
}

/* BUTTON */

.menu-btn{
  background:none;
  border:none;
  color:white;
  font-size:20px;
  cursor:pointer;
}

/* CENTER */

.topbar-center{
  width:63%;
  display:flex;
  align-items:center;
  gap:25px;
}

/* LINKS */

.top-link{
  text-decoration:none;
  color:#cbd5e1;
  font-size:14px;
  padding:8px 4px;
  position:relative;
}

.top-link:hover{
  color:white;
}

/* ACTIVE */

.top-link.active{
  color:white;
}

.top-link.active::after{
  content:"";
  position:absolute;
  bottom:-8px;
  left:0;
  width:100%;
  height:3px;
  background:#ffffff;
  border-radius:2px;
}

/* RIGHT */

.topbar-right{
  width:20%;
  display:flex;
  justify-content:flex-end;
  padding-right:20px;
}

.user{
  font-size:13px;
  color:#94a3b8;
}