/* ===== TOPBAR ===== */

.topbar{
  height:60px;
  width:100%;
  background:#144AA7;
  color:#e2e8f0;

  display:flex;
  align-items:center;
}

/* LEFT */

.topbar-left{
  width:17%;
  display:flex;
  align-items:center;
  gap:10px;
  padding-left:10px;
}

.logo img{
  height:40px;
}
.logo{
  background:#ffffff;
}

/* BUTTON */

.menu-btn{
  background:none;
  border:none;
  color:white;
  font-size:20px;
  cursor:pointer;
}

/* CENTER */

.topbar-center{
  width:63%;
  display:flex;
  align-items:center;
  gap:25px;
}

/* LINKS */

.top-link{
  text-decoration:none;
  color:#cbd5e1;
  font-size:14px;
  padding:8px 4px;
  position:relative;
}

.top-link:hover{
  color:white;
}

/* ACTIVE */

.top-link.active{
  color:white;
}

.top-link.active::after{
  content:"";
  position:absolute;
  bottom:-8px;
  left:0;
  width:100%;
  height:3px;
  background:#ffffff;
  border-radius:2px;
}

/* RIGHT */

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
}

.user-name {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 35px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  min-width: 180px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.logout {
  color: #c62828;
  font-weight: 500;
}