RewriteEngine On

RewriteBase /ERP/backend/

# Si no es archivo ni carpeta real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Enviar todo a index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Seguridad
RewriteRule ^app/ - [F,L]
RewriteRule ^config/ - [F,L]
RewriteRule ^storage/ - [F,L]
RewriteRule ^vendor/ - [F,L]
