<div class="login-wrapper">
  <div class="login-card">

    <img src="assets/images/logo.png" class="logo" alt="Logo del sistema">

    <h2 class="titulo-login">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Usuario -->
      <div class="mb-3">
        <label class="form-label">Usuario</label>

        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="usuario"
            autocomplete="username"
            placeholder="Ingrese su usuario"
            [class.is-invalid]="loginForm.get('usuario')?.hasError('required') && loginForm.get('usuario')?.touched">
        </div>

        <div
          class="invalid-text"
          *ngIf="loginForm.get('usuario')?.hasError('required') && loginForm.get('usuario')?.touched">
          El usuario es obligatorio
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label class="form-label">Contraseña</label>

        <div class="input-group">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class="form-control"
            formControlName="clave"
            autocomplete="current-password"
            placeholder="Ingrese su contraseña"
            [class.is-invalid]="loginForm.get('clave')?.hasError('required') && loginForm.get('clave')?.touched">

          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="hidePassword = !hidePassword">
            <i class="bi" [ngClass]="hidePassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>

        <div
          class="invalid-text"
          *ngIf="loginForm.get('clave')?.hasError('required') && loginForm.get('clave')?.touched">
          La contraseña es obligatoria
        </div>
      </div>

      <!-- Error -->
      <div *ngIf="errorMessage" class="alert alert-danger py-2">
        {{ errorMessage }}
      </div>

      <!-- Botón -->
      <button
        class="btn btn-primary w-100 login-button"
        type="submit"
        [disabled]="loading || loginForm.invalid">

        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm me-2">
        </span>

        {{ loading ? 'Ingresando...' : 'Ingresar' }}
      </button>

    </form>
  </div>
</div>