.sidebar{
  width:250px;
  height:100vh;
  background:#ffffff;
  color:#144AA7;
  padding-top:10px;
}

/* MENU */

.menu{
  list-style:none;
  padding:0;
  margin:0;
}

/* ITEM */

.menu-item{
  width:100%;
}

/* BUTTON (padres) */

.menu-button{
  width:100%;
  background:none;
  border:none;
  color:#144AA7;
  padding:10px 16px;
  text-align:left;
  cursor:pointer;
  font-size:14px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.menu-button:hover{
  background:#144AA7;
  color:#ffffff;
}

/* SUBMENU */

.submenu{
  list-style:none;
  padding-left:15px;
}

/* LINKS */

.menu-link,
.submenu a{
  display:block;
  padding:8px 16px;
  text-decoration:none;
  color:#144AA7;
  font-size:13px;
}

.menu-link:hover,
.submenu a:hover{
  background:#144AA7;
  color:#ffffff;
}

/* ACTIVE */

.active{
  background:#144AA7;
  color:#ffffff !important;
  border-radius:4px;
}

/* ARROW */

.arrow{
  transition:0.2s;
}

.arrow.open{
  transform:rotate(180deg);
}