<div class="sidebar">

  <ul class="menu" *ngIf="moduloActivo">

    <li *ngFor="let item of moduloActivo.items" class="menu-item">

      <!-- ITEM CON SUBMENÚ -->
      <div *ngIf="item.children; else simpleItem">

        <button 
          type="button"
          class="menu-button"
          (click)="toggleMenu(item.label)">

          {{ item.label }}

          <span class="arrow" [class.open]="isOpen(item.label)">
            ▾
          </span>

        </button>

        <ul class="submenu" *ngIf="isOpen(item.label)">

          <li *ngFor="let sub of item.children">

            <a
              [routerLink]="sub.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">

              {{ sub.label }}

            </a>

          </li>

        </ul>

      </div>

      <!-- ITEM SIMPLE -->
      <ng-template #simpleItem>

        <a
          class="menu-link"
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">

          {{ item.label }}

        </a>

      </ng-template>

    </li>

  </ul>

</div>