<aside class="sidebar" [class.collapsed]="collapsed">

  <ul class="menu" *ngIf="moduloActivo">

    <li *ngFor="let item of moduloActivo.items" class="menu-item">

      <!-- ITEM CON SUBMENÚ -->
      <div *ngIf="item.children; else simpleItem">

        <button
          type="button"
          class="menu-button"
          [class.open]="isOpen(item.label)"
          (click)="toggleMenu(item.label)"
          [title]="collapsed ? item.label : ''">

          <span class="menu-text">

            <span class="menu-icon">
              <img
                [src]="'assets/icons/' + item.icon + '.svg'"
                [alt]="item.label">
            </span>

            <span class="menu-label" *ngIf="!collapsed">
              {{ item.label }}
            </span>

          </span>

          <span
            class="arrow"
            *ngIf="!collapsed"
            [class.open]="isOpen(item.label)">
            ▾
          </span>

        </button>

        <ul class="submenu" *ngIf="isOpen(item.label) && !collapsed">
          <li *ngFor="let sub of item.children">
            <a
              [routerLink]="sub.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">

              <span class="submenu-dot"></span>
              {{ sub.label }}

            </a>
          </li>
        </ul>

      </div>

      <!-- ITEM SIMPLE -->
      <ng-template #simpleItem>

        <a
          class="menu-link"
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [title]="collapsed ? item.label : ''">

          <span class="menu-text">

            <span class="menu-icon">
              <img
                [src]="'assets/icons/' + item.icon + '.svg'"
                [alt]="item.label">
            </span>

            <span class="menu-label" *ngIf="!collapsed">
              {{ item.label }}
            </span>

          </span>

        </a>

      </ng-template>

    </li>

  </ul>

</aside>