<div class="sidebar">
  <ul *ngIf="moduloActivo">

  <li *ngFor="let item of moduloActivo.items">

    <!-- 🔹 SI TIENE HIJOS -->
    <div *ngIf="item.children">

      <!-- IMPORTANTE: type="button" -->
      <button type="button" (click)="toggleMenu(item.label)">
        {{ item.label }}
      </button>

      <ul *ngIf="isOpen(item.label)">
        <li *ngFor="let sub of item.children">
          <a
            [routerLink]="sub.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{ sub.label }}
          </a>
        </li>
      </ul>

    </div>

    <!-- 🔹 SI NO TIENE HIJOS -->
    <div *ngIf="!item.children">
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        {{ item.label }}
      </a>
    </div>

  </li>

</ul>
</div>